<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Guillermo Morales</title>
  </head>

  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Compiled and minified JavaScript -->
  </body>

</html>
