<template>
  <div>
    <div class="row titulo">
      <div class="container">
        <router-link :to="'/'">
          <a href="" class="gm-last-link">
            <i class="material-icons">arrow_back</i>
            Autos Nuevos
          </a>
        </router-link>
      </div>
    </div>
    <ul id="tabs-swipe-demo" class="tabs gm-tab-menu">
      <li class="tab col s3 ">
        <a class="active gm-tab-menu--active" href="#">Marcas</a>
      </li>
      <li class="tab col s3"><router-link to="tipos">Tipos</router-link></li>
    </ul>
    <div class="container">
      <div v-if="this.$store.isLoading">
        <LoadingSpinner />
      </div>
      <div class="row">
        <div class="col s6" v-for="brand in brands" :key="brand.id">
          <router-link :to="'marcas/' + brand.id">
            <div class="card-panel">
              <img
                class="responsive-img"
                :src="
                  'http://localhost:8080/assets/img/brands/' +
                    brand.slug +
                    '-marca.jpg'
                "
              />
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingSpinner from "../components/LoadingSpinner";
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
  components: {
    LoadingSpinner
  },
  data() {
    return {
      brands: ""
    };
  },
  created() {
    this.brands = this._fetchBrands();
  },
  methods: {
    ...mapActions({
      _fetchBrands: "nuevos/fetchBrands"
    })
  }
};
</script>

<style scoped>
.titulo {
  margin-bottom: -2px;
}

div.titulo,
ul.tabs {
  background: #1263b4;
}

ul.tabs li a,
ul.tabs li a.active {
  color: #fff;
}
</style>
